.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal
}

.focus\:sr-only:focus {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: -webkit-box;
  display: flex
}

.inline-flex {
  display: -webkit-inline-box;
  display: inline-flex
}

.table {
  display: table
}

.table-row {
  display: table-row
}

.table-cell {
  display: table-cell
}

.hidden {
  display: none
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse
}

.flex-no-wrap {
  flex-wrap: nowrap
}

.items-start {
  -webkit-box-align: start;
          align-items: flex-start
}

.items-end {
  -webkit-box-align: end;
          align-items: flex-end
}

.items-center {
  -webkit-box-align: center;
          align-items: center
}

.items-baseline {
  -webkit-box-align: baseline;
          align-items: baseline
}

.items-stretch {
  -webkit-box-align: stretch;
          align-items: stretch
}

.self-auto {
  align-self: auto
}

.self-start {
  align-self: flex-start
}

.self-end {
  align-self: flex-end
}

.self-center {
  align-self: center
}

.self-stretch {
  align-self: stretch
}

.justify-start {
  -webkit-box-pack: start;
          justify-content: flex-start
}

.justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end
}

.justify-center {
  -webkit-box-pack: center;
          justify-content: center
}

.justify-between {
  -webkit-box-pack: justify;
          justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.content-center {
  align-content: center
}

.content-start {
  align-content: flex-start
}

.content-end {
  align-content: flex-end
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.flex-1 {
  -webkit-box-flex: 1;
          flex: 1 1 0%
}

.flex-auto {
  -webkit-box-flex: 1;
          flex: 1 1 auto
}

.flex-initial {
  -webkit-box-flex: 0;
          flex: 0 1 auto
}

.flex-none {
  -webkit-box-flex: 0;
          flex: none
}

.flex-grow-0 {
  -webkit-box-flex: 0;
          flex-grow: 0
}

.flex-grow {
  -webkit-box-flex: 1;
          flex-grow: 1
}

.flex-shrink-0 {
  flex-shrink: 0
}

.flex-shrink {
  flex-shrink: 1
}

.order-1 {
  -webkit-box-ordinal-group: 2;
          order: 1
}

.order-2 {
  -webkit-box-ordinal-group: 3;
          order: 2
}

.order-3 {
  -webkit-box-ordinal-group: 4;
          order: 3
}

.order-4 {
  -webkit-box-ordinal-group: 5;
          order: 4
}

.order-5 {
  -webkit-box-ordinal-group: 6;
          order: 5
}

.order-6 {
  -webkit-box-ordinal-group: 7;
          order: 6
}

.order-7 {
  -webkit-box-ordinal-group: 8;
          order: 7
}

.order-8 {
  -webkit-box-ordinal-group: 9;
          order: 8
}

.order-9 {
  -webkit-box-ordinal-group: 10;
          order: 9
}

.order-10 {
  -webkit-box-ordinal-group: 11;
          order: 10
}

.order-11 {
  -webkit-box-ordinal-group: 12;
          order: 11
}

.order-12 {
  -webkit-box-ordinal-group: 13;
          order: 12
}

.order-first {
  -webkit-box-ordinal-group: -9998;
          order: -9999
}

.order-last {
  -webkit-box-ordinal-group: 10000;
          order: 9999
}

.order-none {
  -webkit-box-ordinal-group: 1;
          order: 0
}

.align-baseline {
  vertical-align: baseline
}

.align-top {
  vertical-align: top
}

.align-middle {
  vertical-align: middle
}

.align-bottom {
  vertical-align: bottom
}

.align-text-top {
  vertical-align: text-top
}

.align-text-bottom {
  vertical-align: text-bottom
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.w-0 {
  width: 0
}

.w-1 {
  width: 0.25rem
}

.w-2 {
  width: 0.5rem
}

.w-3 {
  width: 0.75rem
}

.w-4 {
  width: 1rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-8 {
  width: 2rem
}

.w-10 {
  width: 2.5rem
}

.w-12 {
  width: 3rem
}

.w-16 {
  width: 4rem
}

.w-20 {
  width: 5rem
}

.w-24 {
  width: 6rem
}

.w-32 {
  width: 8rem
}

.w-40 {
  width: 10rem
}

.w-48 {
  width: 12rem
}

.w-56 {
  width: 14rem
}

.w-64 {
  width: 16rem
}

.w-auto {
  width: auto
}

.w-px {
  width: 1px
}

.w-1\/2 {
  width: 50%
}

.w-1\/3 {
  width: 33.333333%
}

.w-2\/3 {
  width: 66.666667%
}

.w-1\/4 {
  width: 25%
}

.w-2\/4 {
  width: 50%
}

.w-3\/4 {
  width: 75%
}

.w-1\/5 {
  width: 20%
}

.w-2\/5 {
  width: 40%
}

.w-3\/5 {
  width: 60%
}

.w-4\/5 {
  width: 80%
}

.w-1\/6 {
  width: 16.666667%
}

.w-2\/6 {
  width: 33.333333%
}

.w-3\/6 {
  width: 50%
}

.w-4\/6 {
  width: 66.666667%
}

.w-5\/6 {
  width: 83.333333%
}

.w-1\/12 {
  width: 8.333333%
}

.w-2\/12 {
  width: 16.666667%
}

.w-3\/12 {
  width: 25%
}

.w-4\/12 {
  width: 33.333333%
}

.w-5\/12 {
  width: 41.666667%
}

.w-6\/12 {
  width: 50%
}

.w-7\/12 {
  width: 58.333333%
}

.w-8\/12 {
  width: 66.666667%
}

.w-9\/12 {
  width: 75%
}

.w-10\/12 {
  width: 83.333333%
}

.w-11\/12 {
  width: 91.666667%
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

@media (min-width: 640px) {
  .sm\:sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .sm\:not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .sm\:focus\:sr-only:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .sm\:focus\:not-sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .sm\:block {
    display: block
  }

  .sm\:inline-block {
    display: inline-block
  }

  .sm\:inline {
    display: inline
  }

  .sm\:flex {
    display: -webkit-box;
    display: flex
  }

  .sm\:inline-flex {
    display: -webkit-inline-box;
    display: inline-flex
  }

  .sm\:table {
    display: table
  }

  .sm\:table-row {
    display: table-row
  }

  .sm\:table-cell {
    display: table-cell
  }

  .sm\:hidden {
    display: none
  }

  .sm\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row
  }

  .sm\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse
  }

  .sm\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
  }

  .sm\:flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse
  }

  .sm\:flex-wrap {
    flex-wrap: wrap
  }

  .sm\:flex-wrap-reverse {
    flex-wrap: wrap-reverse
  }

  .sm\:flex-no-wrap {
    flex-wrap: nowrap
  }

  .sm\:items-start {
    -webkit-box-align: start;
            align-items: flex-start
  }

  .sm\:items-end {
    -webkit-box-align: end;
            align-items: flex-end
  }

  .sm\:items-center {
    -webkit-box-align: center;
            align-items: center
  }

  .sm\:items-baseline {
    -webkit-box-align: baseline;
            align-items: baseline
  }

  .sm\:items-stretch {
    -webkit-box-align: stretch;
            align-items: stretch
  }

  .sm\:self-auto {
    align-self: auto
  }

  .sm\:self-start {
    align-self: flex-start
  }

  .sm\:self-end {
    align-self: flex-end
  }

  .sm\:self-center {
    align-self: center
  }

  .sm\:self-stretch {
    align-self: stretch
  }

  .sm\:justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start
  }

  .sm\:justify-end {
    -webkit-box-pack: end;
            justify-content: flex-end
  }

  .sm\:justify-center {
    -webkit-box-pack: center;
            justify-content: center
  }

  .sm\:justify-between {
    -webkit-box-pack: justify;
            justify-content: space-between
  }

  .sm\:justify-around {
    justify-content: space-around
  }

  .sm\:content-center {
    align-content: center
  }

  .sm\:content-start {
    align-content: flex-start
  }

  .sm\:content-end {
    align-content: flex-end
  }

  .sm\:content-between {
    align-content: space-between
  }

  .sm\:content-around {
    align-content: space-around
  }

  .sm\:flex-1 {
    -webkit-box-flex: 1;
            flex: 1 1 0%
  }

  .sm\:flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto
  }

  .sm\:flex-initial {
    -webkit-box-flex: 0;
            flex: 0 1 auto
  }

  .sm\:flex-none {
    -webkit-box-flex: 0;
            flex: none
  }

  .sm\:flex-grow-0 {
    -webkit-box-flex: 0;
            flex-grow: 0
  }

  .sm\:flex-grow {
    -webkit-box-flex: 1;
            flex-grow: 1
  }

  .sm\:flex-shrink-0 {
    flex-shrink: 0
  }

  .sm\:flex-shrink {
    flex-shrink: 1
  }

  .sm\:order-1 {
    -webkit-box-ordinal-group: 2;
            order: 1
  }

  .sm\:order-2 {
    -webkit-box-ordinal-group: 3;
            order: 2
  }

  .sm\:order-3 {
    -webkit-box-ordinal-group: 4;
            order: 3
  }

  .sm\:order-4 {
    -webkit-box-ordinal-group: 5;
            order: 4
  }

  .sm\:order-5 {
    -webkit-box-ordinal-group: 6;
            order: 5
  }

  .sm\:order-6 {
    -webkit-box-ordinal-group: 7;
            order: 6
  }

  .sm\:order-7 {
    -webkit-box-ordinal-group: 8;
            order: 7
  }

  .sm\:order-8 {
    -webkit-box-ordinal-group: 9;
            order: 8
  }

  .sm\:order-9 {
    -webkit-box-ordinal-group: 10;
            order: 9
  }

  .sm\:order-10 {
    -webkit-box-ordinal-group: 11;
            order: 10
  }

  .sm\:order-11 {
    -webkit-box-ordinal-group: 12;
            order: 11
  }

  .sm\:order-12 {
    -webkit-box-ordinal-group: 13;
            order: 12
  }

  .sm\:order-first {
    -webkit-box-ordinal-group: -9998;
            order: -9999
  }

  .sm\:order-last {
    -webkit-box-ordinal-group: 10000;
            order: 9999
  }

  .sm\:order-none {
    -webkit-box-ordinal-group: 1;
            order: 0
  }

  .sm\:align-baseline {
    vertical-align: baseline
  }

  .sm\:align-top {
    vertical-align: top
  }

  .sm\:align-middle {
    vertical-align: middle
  }

  .sm\:align-bottom {
    vertical-align: bottom
  }

  .sm\:align-text-top {
    vertical-align: text-top
  }

  .sm\:align-text-bottom {
    vertical-align: text-bottom
  }

  .sm\:visible {
    visibility: visible
  }

  .sm\:invisible {
    visibility: hidden
  }

  .sm\:w-0 {
    width: 0
  }

  .sm\:w-1 {
    width: 0.25rem
  }

  .sm\:w-2 {
    width: 0.5rem
  }

  .sm\:w-3 {
    width: 0.75rem
  }

  .sm\:w-4 {
    width: 1rem
  }

  .sm\:w-5 {
    width: 1.25rem
  }

  .sm\:w-6 {
    width: 1.5rem
  }

  .sm\:w-8 {
    width: 2rem
  }

  .sm\:w-10 {
    width: 2.5rem
  }

  .sm\:w-12 {
    width: 3rem
  }

  .sm\:w-16 {
    width: 4rem
  }

  .sm\:w-20 {
    width: 5rem
  }

  .sm\:w-24 {
    width: 6rem
  }

  .sm\:w-32 {
    width: 8rem
  }

  .sm\:w-40 {
    width: 10rem
  }

  .sm\:w-48 {
    width: 12rem
  }

  .sm\:w-56 {
    width: 14rem
  }

  .sm\:w-64 {
    width: 16rem
  }

  .sm\:w-auto {
    width: auto
  }

  .sm\:w-px {
    width: 1px
  }

  .sm\:w-1\/2 {
    width: 50%
  }

  .sm\:w-1\/3 {
    width: 33.333333%
  }

  .sm\:w-2\/3 {
    width: 66.666667%
  }

  .sm\:w-1\/4 {
    width: 25%
  }

  .sm\:w-2\/4 {
    width: 50%
  }

  .sm\:w-3\/4 {
    width: 75%
  }

  .sm\:w-1\/5 {
    width: 20%
  }

  .sm\:w-2\/5 {
    width: 40%
  }

  .sm\:w-3\/5 {
    width: 60%
  }

  .sm\:w-4\/5 {
    width: 80%
  }

  .sm\:w-1\/6 {
    width: 16.666667%
  }

  .sm\:w-2\/6 {
    width: 33.333333%
  }

  .sm\:w-3\/6 {
    width: 50%
  }

  .sm\:w-4\/6 {
    width: 66.666667%
  }

  .sm\:w-5\/6 {
    width: 83.333333%
  }

  .sm\:w-1\/12 {
    width: 8.333333%
  }

  .sm\:w-2\/12 {
    width: 16.666667%
  }

  .sm\:w-3\/12 {
    width: 25%
  }

  .sm\:w-4\/12 {
    width: 33.333333%
  }

  .sm\:w-5\/12 {
    width: 41.666667%
  }

  .sm\:w-6\/12 {
    width: 50%
  }

  .sm\:w-7\/12 {
    width: 58.333333%
  }

  .sm\:w-8\/12 {
    width: 66.666667%
  }

  .sm\:w-9\/12 {
    width: 75%
  }

  .sm\:w-10\/12 {
    width: 83.333333%
  }

  .sm\:w-11\/12 {
    width: 91.666667%
  }

  .sm\:w-full {
    width: 100%
  }

  .sm\:w-screen {
    width: 100vw
  }
}

@media (min-width: 768px) {
  .md\:sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .md\:not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .md\:focus\:sr-only:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .md\:focus\:not-sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .md\:block {
    display: block
  }

  .md\:inline-block {
    display: inline-block
  }

  .md\:inline {
    display: inline
  }

  .md\:flex {
    display: -webkit-box;
    display: flex
  }

  .md\:inline-flex {
    display: -webkit-inline-box;
    display: inline-flex
  }

  .md\:table {
    display: table
  }

  .md\:table-row {
    display: table-row
  }

  .md\:table-cell {
    display: table-cell
  }

  .md\:hidden {
    display: none
  }

  .md\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row
  }

  .md\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse
  }

  .md\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
  }

  .md\:flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse
  }

  .md\:flex-wrap {
    flex-wrap: wrap
  }

  .md\:flex-wrap-reverse {
    flex-wrap: wrap-reverse
  }

  .md\:flex-no-wrap {
    flex-wrap: nowrap
  }

  .md\:items-start {
    -webkit-box-align: start;
            align-items: flex-start
  }

  .md\:items-end {
    -webkit-box-align: end;
            align-items: flex-end
  }

  .md\:items-center {
    -webkit-box-align: center;
            align-items: center
  }

  .md\:items-baseline {
    -webkit-box-align: baseline;
            align-items: baseline
  }

  .md\:items-stretch {
    -webkit-box-align: stretch;
            align-items: stretch
  }

  .md\:self-auto {
    align-self: auto
  }

  .md\:self-start {
    align-self: flex-start
  }

  .md\:self-end {
    align-self: flex-end
  }

  .md\:self-center {
    align-self: center
  }

  .md\:self-stretch {
    align-self: stretch
  }

  .md\:justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start
  }

  .md\:justify-end {
    -webkit-box-pack: end;
            justify-content: flex-end
  }

  .md\:justify-center {
    -webkit-box-pack: center;
            justify-content: center
  }

  .md\:justify-between {
    -webkit-box-pack: justify;
            justify-content: space-between
  }

  .md\:justify-around {
    justify-content: space-around
  }

  .md\:content-center {
    align-content: center
  }

  .md\:content-start {
    align-content: flex-start
  }

  .md\:content-end {
    align-content: flex-end
  }

  .md\:content-between {
    align-content: space-between
  }

  .md\:content-around {
    align-content: space-around
  }

  .md\:flex-1 {
    -webkit-box-flex: 1;
            flex: 1 1 0%
  }

  .md\:flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto
  }

  .md\:flex-initial {
    -webkit-box-flex: 0;
            flex: 0 1 auto
  }

  .md\:flex-none {
    -webkit-box-flex: 0;
            flex: none
  }

  .md\:flex-grow-0 {
    -webkit-box-flex: 0;
            flex-grow: 0
  }

  .md\:flex-grow {
    -webkit-box-flex: 1;
            flex-grow: 1
  }

  .md\:flex-shrink-0 {
    flex-shrink: 0
  }

  .md\:flex-shrink {
    flex-shrink: 1
  }

  .md\:order-1 {
    -webkit-box-ordinal-group: 2;
            order: 1
  }

  .md\:order-2 {
    -webkit-box-ordinal-group: 3;
            order: 2
  }

  .md\:order-3 {
    -webkit-box-ordinal-group: 4;
            order: 3
  }

  .md\:order-4 {
    -webkit-box-ordinal-group: 5;
            order: 4
  }

  .md\:order-5 {
    -webkit-box-ordinal-group: 6;
            order: 5
  }

  .md\:order-6 {
    -webkit-box-ordinal-group: 7;
            order: 6
  }

  .md\:order-7 {
    -webkit-box-ordinal-group: 8;
            order: 7
  }

  .md\:order-8 {
    -webkit-box-ordinal-group: 9;
            order: 8
  }

  .md\:order-9 {
    -webkit-box-ordinal-group: 10;
            order: 9
  }

  .md\:order-10 {
    -webkit-box-ordinal-group: 11;
            order: 10
  }

  .md\:order-11 {
    -webkit-box-ordinal-group: 12;
            order: 11
  }

  .md\:order-12 {
    -webkit-box-ordinal-group: 13;
            order: 12
  }

  .md\:order-first {
    -webkit-box-ordinal-group: -9998;
            order: -9999
  }

  .md\:order-last {
    -webkit-box-ordinal-group: 10000;
            order: 9999
  }

  .md\:order-none {
    -webkit-box-ordinal-group: 1;
            order: 0
  }

  .md\:align-baseline {
    vertical-align: baseline
  }

  .md\:align-top {
    vertical-align: top
  }

  .md\:align-middle {
    vertical-align: middle
  }

  .md\:align-bottom {
    vertical-align: bottom
  }

  .md\:align-text-top {
    vertical-align: text-top
  }

  .md\:align-text-bottom {
    vertical-align: text-bottom
  }

  .md\:visible {
    visibility: visible
  }

  .md\:invisible {
    visibility: hidden
  }

  .md\:w-0 {
    width: 0
  }

  .md\:w-1 {
    width: 0.25rem
  }

  .md\:w-2 {
    width: 0.5rem
  }

  .md\:w-3 {
    width: 0.75rem
  }

  .md\:w-4 {
    width: 1rem
  }

  .md\:w-5 {
    width: 1.25rem
  }

  .md\:w-6 {
    width: 1.5rem
  }

  .md\:w-8 {
    width: 2rem
  }

  .md\:w-10 {
    width: 2.5rem
  }

  .md\:w-12 {
    width: 3rem
  }

  .md\:w-16 {
    width: 4rem
  }

  .md\:w-20 {
    width: 5rem
  }

  .md\:w-24 {
    width: 6rem
  }

  .md\:w-32 {
    width: 8rem
  }

  .md\:w-40 {
    width: 10rem
  }

  .md\:w-48 {
    width: 12rem
  }

  .md\:w-56 {
    width: 14rem
  }

  .md\:w-64 {
    width: 16rem
  }

  .md\:w-auto {
    width: auto
  }

  .md\:w-px {
    width: 1px
  }

  .md\:w-1\/2 {
    width: 50%
  }

  .md\:w-1\/3 {
    width: 33.333333%
  }

  .md\:w-2\/3 {
    width: 66.666667%
  }

  .md\:w-1\/4 {
    width: 25%
  }

  .md\:w-2\/4 {
    width: 50%
  }

  .md\:w-3\/4 {
    width: 75%
  }

  .md\:w-1\/5 {
    width: 20%
  }

  .md\:w-2\/5 {
    width: 40%
  }

  .md\:w-3\/5 {
    width: 60%
  }

  .md\:w-4\/5 {
    width: 80%
  }

  .md\:w-1\/6 {
    width: 16.666667%
  }

  .md\:w-2\/6 {
    width: 33.333333%
  }

  .md\:w-3\/6 {
    width: 50%
  }

  .md\:w-4\/6 {
    width: 66.666667%
  }

  .md\:w-5\/6 {
    width: 83.333333%
  }

  .md\:w-1\/12 {
    width: 8.333333%
  }

  .md\:w-2\/12 {
    width: 16.666667%
  }

  .md\:w-3\/12 {
    width: 25%
  }

  .md\:w-4\/12 {
    width: 33.333333%
  }

  .md\:w-5\/12 {
    width: 41.666667%
  }

  .md\:w-6\/12 {
    width: 50%
  }

  .md\:w-7\/12 {
    width: 58.333333%
  }

  .md\:w-8\/12 {
    width: 66.666667%
  }

  .md\:w-9\/12 {
    width: 75%
  }

  .md\:w-10\/12 {
    width: 83.333333%
  }

  .md\:w-11\/12 {
    width: 91.666667%
  }

  .md\:w-full {
    width: 100%
  }

  .md\:w-screen {
    width: 100vw
  }
}

@media (min-width: 1024px) {
  .lg\:sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .lg\:not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .lg\:focus\:sr-only:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .lg\:focus\:not-sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .lg\:block {
    display: block
  }

  .lg\:inline-block {
    display: inline-block
  }

  .lg\:inline {
    display: inline
  }

  .lg\:flex {
    display: -webkit-box;
    display: flex
  }

  .lg\:inline-flex {
    display: -webkit-inline-box;
    display: inline-flex
  }

  .lg\:table {
    display: table
  }

  .lg\:table-row {
    display: table-row
  }

  .lg\:table-cell {
    display: table-cell
  }

  .lg\:hidden {
    display: none
  }

  .lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row
  }

  .lg\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse
  }

  .lg\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
  }

  .lg\:flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse
  }

  .lg\:flex-wrap {
    flex-wrap: wrap
  }

  .lg\:flex-wrap-reverse {
    flex-wrap: wrap-reverse
  }

  .lg\:flex-no-wrap {
    flex-wrap: nowrap
  }

  .lg\:items-start {
    -webkit-box-align: start;
            align-items: flex-start
  }

  .lg\:items-end {
    -webkit-box-align: end;
            align-items: flex-end
  }

  .lg\:items-center {
    -webkit-box-align: center;
            align-items: center
  }

  .lg\:items-baseline {
    -webkit-box-align: baseline;
            align-items: baseline
  }

  .lg\:items-stretch {
    -webkit-box-align: stretch;
            align-items: stretch
  }

  .lg\:self-auto {
    align-self: auto
  }

  .lg\:self-start {
    align-self: flex-start
  }

  .lg\:self-end {
    align-self: flex-end
  }

  .lg\:self-center {
    align-self: center
  }

  .lg\:self-stretch {
    align-self: stretch
  }

  .lg\:justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start
  }

  .lg\:justify-end {
    -webkit-box-pack: end;
            justify-content: flex-end
  }

  .lg\:justify-center {
    -webkit-box-pack: center;
            justify-content: center
  }

  .lg\:justify-between {
    -webkit-box-pack: justify;
            justify-content: space-between
  }

  .lg\:justify-around {
    justify-content: space-around
  }

  .lg\:content-center {
    align-content: center
  }

  .lg\:content-start {
    align-content: flex-start
  }

  .lg\:content-end {
    align-content: flex-end
  }

  .lg\:content-between {
    align-content: space-between
  }

  .lg\:content-around {
    align-content: space-around
  }

  .lg\:flex-1 {
    -webkit-box-flex: 1;
            flex: 1 1 0%
  }

  .lg\:flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto
  }

  .lg\:flex-initial {
    -webkit-box-flex: 0;
            flex: 0 1 auto
  }

  .lg\:flex-none {
    -webkit-box-flex: 0;
            flex: none
  }

  .lg\:flex-grow-0 {
    -webkit-box-flex: 0;
            flex-grow: 0
  }

  .lg\:flex-grow {
    -webkit-box-flex: 1;
            flex-grow: 1
  }

  .lg\:flex-shrink-0 {
    flex-shrink: 0
  }

  .lg\:flex-shrink {
    flex-shrink: 1
  }

  .lg\:order-1 {
    -webkit-box-ordinal-group: 2;
            order: 1
  }

  .lg\:order-2 {
    -webkit-box-ordinal-group: 3;
            order: 2
  }

  .lg\:order-3 {
    -webkit-box-ordinal-group: 4;
            order: 3
  }

  .lg\:order-4 {
    -webkit-box-ordinal-group: 5;
            order: 4
  }

  .lg\:order-5 {
    -webkit-box-ordinal-group: 6;
            order: 5
  }

  .lg\:order-6 {
    -webkit-box-ordinal-group: 7;
            order: 6
  }

  .lg\:order-7 {
    -webkit-box-ordinal-group: 8;
            order: 7
  }

  .lg\:order-8 {
    -webkit-box-ordinal-group: 9;
            order: 8
  }

  .lg\:order-9 {
    -webkit-box-ordinal-group: 10;
            order: 9
  }

  .lg\:order-10 {
    -webkit-box-ordinal-group: 11;
            order: 10
  }

  .lg\:order-11 {
    -webkit-box-ordinal-group: 12;
            order: 11
  }

  .lg\:order-12 {
    -webkit-box-ordinal-group: 13;
            order: 12
  }

  .lg\:order-first {
    -webkit-box-ordinal-group: -9998;
            order: -9999
  }

  .lg\:order-last {
    -webkit-box-ordinal-group: 10000;
            order: 9999
  }

  .lg\:order-none {
    -webkit-box-ordinal-group: 1;
            order: 0
  }

  .lg\:align-baseline {
    vertical-align: baseline
  }

  .lg\:align-top {
    vertical-align: top
  }

  .lg\:align-middle {
    vertical-align: middle
  }

  .lg\:align-bottom {
    vertical-align: bottom
  }

  .lg\:align-text-top {
    vertical-align: text-top
  }

  .lg\:align-text-bottom {
    vertical-align: text-bottom
  }

  .lg\:visible {
    visibility: visible
  }

  .lg\:invisible {
    visibility: hidden
  }

  .lg\:w-0 {
    width: 0
  }

  .lg\:w-1 {
    width: 0.25rem
  }

  .lg\:w-2 {
    width: 0.5rem
  }

  .lg\:w-3 {
    width: 0.75rem
  }

  .lg\:w-4 {
    width: 1rem
  }

  .lg\:w-5 {
    width: 1.25rem
  }

  .lg\:w-6 {
    width: 1.5rem
  }

  .lg\:w-8 {
    width: 2rem
  }

  .lg\:w-10 {
    width: 2.5rem
  }

  .lg\:w-12 {
    width: 3rem
  }

  .lg\:w-16 {
    width: 4rem
  }

  .lg\:w-20 {
    width: 5rem
  }

  .lg\:w-24 {
    width: 6rem
  }

  .lg\:w-32 {
    width: 8rem
  }

  .lg\:w-40 {
    width: 10rem
  }

  .lg\:w-48 {
    width: 12rem
  }

  .lg\:w-56 {
    width: 14rem
  }

  .lg\:w-64 {
    width: 16rem
  }

  .lg\:w-auto {
    width: auto
  }

  .lg\:w-px {
    width: 1px
  }

  .lg\:w-1\/2 {
    width: 50%
  }

  .lg\:w-1\/3 {
    width: 33.333333%
  }

  .lg\:w-2\/3 {
    width: 66.666667%
  }

  .lg\:w-1\/4 {
    width: 25%
  }

  .lg\:w-2\/4 {
    width: 50%
  }

  .lg\:w-3\/4 {
    width: 75%
  }

  .lg\:w-1\/5 {
    width: 20%
  }

  .lg\:w-2\/5 {
    width: 40%
  }

  .lg\:w-3\/5 {
    width: 60%
  }

  .lg\:w-4\/5 {
    width: 80%
  }

  .lg\:w-1\/6 {
    width: 16.666667%
  }

  .lg\:w-2\/6 {
    width: 33.333333%
  }

  .lg\:w-3\/6 {
    width: 50%
  }

  .lg\:w-4\/6 {
    width: 66.666667%
  }

  .lg\:w-5\/6 {
    width: 83.333333%
  }

  .lg\:w-1\/12 {
    width: 8.333333%
  }

  .lg\:w-2\/12 {
    width: 16.666667%
  }

  .lg\:w-3\/12 {
    width: 25%
  }

  .lg\:w-4\/12 {
    width: 33.333333%
  }

  .lg\:w-5\/12 {
    width: 41.666667%
  }

  .lg\:w-6\/12 {
    width: 50%
  }

  .lg\:w-7\/12 {
    width: 58.333333%
  }

  .lg\:w-8\/12 {
    width: 66.666667%
  }

  .lg\:w-9\/12 {
    width: 75%
  }

  .lg\:w-10\/12 {
    width: 83.333333%
  }

  .lg\:w-11\/12 {
    width: 91.666667%
  }

  .lg\:w-full {
    width: 100%
  }

  .lg\:w-screen {
    width: 100vw
  }
}

@media (min-width: 1280px) {
  .xl\:sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .xl\:not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .xl\:focus\:sr-only:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
  }

  .xl\:focus\:not-sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal
  }

  .xl\:block {
    display: block
  }

  .xl\:inline-block {
    display: inline-block
  }

  .xl\:inline {
    display: inline
  }

  .xl\:flex {
    display: -webkit-box;
    display: flex
  }

  .xl\:inline-flex {
    display: -webkit-inline-box;
    display: inline-flex
  }

  .xl\:table {
    display: table
  }

  .xl\:table-row {
    display: table-row
  }

  .xl\:table-cell {
    display: table-cell
  }

  .xl\:hidden {
    display: none
  }

  .xl\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row
  }

  .xl\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse
  }

  .xl\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
  }

  .xl\:flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse
  }

  .xl\:flex-wrap {
    flex-wrap: wrap
  }

  .xl\:flex-wrap-reverse {
    flex-wrap: wrap-reverse
  }

  .xl\:flex-no-wrap {
    flex-wrap: nowrap
  }

  .xl\:items-start {
    -webkit-box-align: start;
            align-items: flex-start
  }

  .xl\:items-end {
    -webkit-box-align: end;
            align-items: flex-end
  }

  .xl\:items-center {
    -webkit-box-align: center;
            align-items: center
  }

  .xl\:items-baseline {
    -webkit-box-align: baseline;
            align-items: baseline
  }

  .xl\:items-stretch {
    -webkit-box-align: stretch;
            align-items: stretch
  }

  .xl\:self-auto {
    align-self: auto
  }

  .xl\:self-start {
    align-self: flex-start
  }

  .xl\:self-end {
    align-self: flex-end
  }

  .xl\:self-center {
    align-self: center
  }

  .xl\:self-stretch {
    align-self: stretch
  }

  .xl\:justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start
  }

  .xl\:justify-end {
    -webkit-box-pack: end;
            justify-content: flex-end
  }

  .xl\:justify-center {
    -webkit-box-pack: center;
            justify-content: center
  }

  .xl\:justify-between {
    -webkit-box-pack: justify;
            justify-content: space-between
  }

  .xl\:justify-around {
    justify-content: space-around
  }

  .xl\:content-center {
    align-content: center
  }

  .xl\:content-start {
    align-content: flex-start
  }

  .xl\:content-end {
    align-content: flex-end
  }

  .xl\:content-between {
    align-content: space-between
  }

  .xl\:content-around {
    align-content: space-around
  }

  .xl\:flex-1 {
    -webkit-box-flex: 1;
            flex: 1 1 0%
  }

  .xl\:flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto
  }

  .xl\:flex-initial {
    -webkit-box-flex: 0;
            flex: 0 1 auto
  }

  .xl\:flex-none {
    -webkit-box-flex: 0;
            flex: none
  }

  .xl\:flex-grow-0 {
    -webkit-box-flex: 0;
            flex-grow: 0
  }

  .xl\:flex-grow {
    -webkit-box-flex: 1;
            flex-grow: 1
  }

  .xl\:flex-shrink-0 {
    flex-shrink: 0
  }

  .xl\:flex-shrink {
    flex-shrink: 1
  }

  .xl\:order-1 {
    -webkit-box-ordinal-group: 2;
            order: 1
  }

  .xl\:order-2 {
    -webkit-box-ordinal-group: 3;
            order: 2
  }

  .xl\:order-3 {
    -webkit-box-ordinal-group: 4;
            order: 3
  }

  .xl\:order-4 {
    -webkit-box-ordinal-group: 5;
            order: 4
  }

  .xl\:order-5 {
    -webkit-box-ordinal-group: 6;
            order: 5
  }

  .xl\:order-6 {
    -webkit-box-ordinal-group: 7;
            order: 6
  }

  .xl\:order-7 {
    -webkit-box-ordinal-group: 8;
            order: 7
  }

  .xl\:order-8 {
    -webkit-box-ordinal-group: 9;
            order: 8
  }

  .xl\:order-9 {
    -webkit-box-ordinal-group: 10;
            order: 9
  }

  .xl\:order-10 {
    -webkit-box-ordinal-group: 11;
            order: 10
  }

  .xl\:order-11 {
    -webkit-box-ordinal-group: 12;
            order: 11
  }

  .xl\:order-12 {
    -webkit-box-ordinal-group: 13;
            order: 12
  }

  .xl\:order-first {
    -webkit-box-ordinal-group: -9998;
            order: -9999
  }

  .xl\:order-last {
    -webkit-box-ordinal-group: 10000;
            order: 9999
  }

  .xl\:order-none {
    -webkit-box-ordinal-group: 1;
            order: 0
  }

  .xl\:align-baseline {
    vertical-align: baseline
  }

  .xl\:align-top {
    vertical-align: top
  }

  .xl\:align-middle {
    vertical-align: middle
  }

  .xl\:align-bottom {
    vertical-align: bottom
  }

  .xl\:align-text-top {
    vertical-align: text-top
  }

  .xl\:align-text-bottom {
    vertical-align: text-bottom
  }

  .xl\:visible {
    visibility: visible
  }

  .xl\:invisible {
    visibility: hidden
  }

  .xl\:w-0 {
    width: 0
  }

  .xl\:w-1 {
    width: 0.25rem
  }

  .xl\:w-2 {
    width: 0.5rem
  }

  .xl\:w-3 {
    width: 0.75rem
  }

  .xl\:w-4 {
    width: 1rem
  }

  .xl\:w-5 {
    width: 1.25rem
  }

  .xl\:w-6 {
    width: 1.5rem
  }

  .xl\:w-8 {
    width: 2rem
  }

  .xl\:w-10 {
    width: 2.5rem
  }

  .xl\:w-12 {
    width: 3rem
  }

  .xl\:w-16 {
    width: 4rem
  }

  .xl\:w-20 {
    width: 5rem
  }

  .xl\:w-24 {
    width: 6rem
  }

  .xl\:w-32 {
    width: 8rem
  }

  .xl\:w-40 {
    width: 10rem
  }

  .xl\:w-48 {
    width: 12rem
  }

  .xl\:w-56 {
    width: 14rem
  }

  .xl\:w-64 {
    width: 16rem
  }

  .xl\:w-auto {
    width: auto
  }

  .xl\:w-px {
    width: 1px
  }

  .xl\:w-1\/2 {
    width: 50%
  }

  .xl\:w-1\/3 {
    width: 33.333333%
  }

  .xl\:w-2\/3 {
    width: 66.666667%
  }

  .xl\:w-1\/4 {
    width: 25%
  }

  .xl\:w-2\/4 {
    width: 50%
  }

  .xl\:w-3\/4 {
    width: 75%
  }

  .xl\:w-1\/5 {
    width: 20%
  }

  .xl\:w-2\/5 {
    width: 40%
  }

  .xl\:w-3\/5 {
    width: 60%
  }

  .xl\:w-4\/5 {
    width: 80%
  }

  .xl\:w-1\/6 {
    width: 16.666667%
  }

  .xl\:w-2\/6 {
    width: 33.333333%
  }

  .xl\:w-3\/6 {
    width: 50%
  }

  .xl\:w-4\/6 {
    width: 66.666667%
  }

  .xl\:w-5\/6 {
    width: 83.333333%
  }

  .xl\:w-1\/12 {
    width: 8.333333%
  }

  .xl\:w-2\/12 {
    width: 16.666667%
  }

  .xl\:w-3\/12 {
    width: 25%
  }

  .xl\:w-4\/12 {
    width: 33.333333%
  }

  .xl\:w-5\/12 {
    width: 41.666667%
  }

  .xl\:w-6\/12 {
    width: 50%
  }

  .xl\:w-7\/12 {
    width: 58.333333%
  }

  .xl\:w-8\/12 {
    width: 66.666667%
  }

  .xl\:w-9\/12 {
    width: 75%
  }

  .xl\:w-10\/12 {
    width: 83.333333%
  }

  .xl\:w-11\/12 {
    width: 91.666667%
  }

  .xl\:w-full {
    width: 100%
  }

  .xl\:w-screen {
    width: 100vw
  }
}